@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 font-italic">Military website</h1>
    <h4 class="font-weight-bold border-bottom text-info">
        The place where you can get information about the work state of soldiers
    </h4>
</div>

<div class="container text-center mt-5">
        <img src="img/soldiers_at_tank.jpg" alt="Soldiers at tanks" class="img-fluid rounded border border-primary p-2">
</div>