@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-primary">@ViewData["Title"]</h1>

<p class="text-justify">
    Welcome to our Privacy Policy page. While we don't currently collect or store any personal information from our 
    visitors, we believe in transparency and want to assure you that your privacy is important to us. We understand 
    that privacy concerns are valid, and we are committed to protecting any information you may choose to share with 
    us in the future. Rest assured that we will update this policy accordingly if our data practices change. Please 
    note that this placeholder text is for illustrative purposes and does not represent a fully developed privacy 
    policy. If you have any questions or concerns, feel free to contact us at 
    <a href="mailto:NAsales@teslamotors.com">NAsales@teslamotors.com</a>.
    Thank you for visiting our website.
</p>

<p><strong>Today is @ViewData["TimeStamp"]</strong></p>